# Leiningen & Build Artifacts
/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*.jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port

# IntelliJ IDEA
.idea/
*.iml

# Clojure Linter Cache
.clj-kondo/

# VS Code / Calva
.calva/

# Operating System Files
.DS_Store
Thumbs.db